@import "../../../styles/variables";

.snackbar {
    min-width: 250px;
    margin-left: -125px;
    text-align: center;
    border-radius: 6px;
    padding: 16px;
    position: fixed;
    z-index: 9000;
    left: 50%;
    //bottom: 30px;

    &.normal{
      background-color: $primary-color;
      color: #fff;
    }
    &.warning{
      background-color: #f86503;
      color: #fff;
    }
    &.danger{
      background-color: Red;
      color: #fff;
    }
  }








