
@import '../../../../styles/variables';


.background-sidenav-color{
   background-color: $navbar-background-color;
}

.full-height {
  min-height: 100vh;
}

.nav-link{
  color:$sidebar-list !important;
 font-size: 1.3em;
}

.nav-link:hover{
 background-color:$hover;
  transition: color 0.2s ease;
  color:$sidebar-list !important;

}
.nav-link.active {
  background-color:$navbar-background-color * 0.9 !important;

}

.zoom {
  transition: transform .1s; /* Animation */
}

.zoom:hover {
   transition: 0.1s ease-in-out;
   transform: scale(1.1);
}

.breadcrumb-link{
  color:$breadcrumb-link !important;
}

.b-radius{
  border-radius: 10px;
}

.navbar-color-font{
  color:$navbar-color-font !important;
}

input[type=text] {
  width: 200px !important;
  padding: 12px 20px 12px 32px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

}
.breadcrumb-link-actual{
  color: blue;
}

.bg-navbar{
  background-color:$breadcrumb-background-color;
}

input[type=text]:focus {
  width: 100% !important;
  transition: 0.2 ease-in-out;
}

.input-class::-webkit-input-placeholder{
  text-align: left;
}

.form-group{
  position: relative;
}

.form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;

}

.breadcrumb-background {
  background-color:$breadcrumb-background;
}

.content{
background-color:$content;

}

.img-perfil {
  width:35px !important;
  height:25px !important;
}

