<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-2 col-lg-3 col-xl-2 h-100 background-sidenav-color" style="overflow-y:auto; overflow-x:hidden;">
      <div class="row full-height justify-content-center">
        <div class="nav flex-column nav-pills w-100 h-100 mt-3">
          <div class="col-12 col-sm-10 offset-sm-1">
            <!-- <img class="img my-3 mx-auto img-fluid" src="./assets/logo/logo_mytime_white.png"> -->
            <img class="img my-3 mx-auto img-fluid" src="./assets/logo/logo.png">
          </div>
          <div class="nav flex-column nav-pills w-100 h-100 padding-div ">
            <a *ngFor="let menu of menus" class="nav-link zoom" [class.active]="isPageActive(menu.url)" [routerLink]="[menu.url]">
              <div class="d-flex d-lg-inline-flex col-lg-1 justify-content-center ajuste-div">
                <i [class]="menu.icon"></i>
              </div>
              <div class="d-none d-lg-inline-flex">
                <div class="nav-gradient ">&nbsp;{{menu.title}}</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-lg-9 col-xl-10 h-100 px-0 content" style="overflow-y: auto; overflow-x: hidden;">
      <nav class="navbar navbar-expand navbar-dark bg-navbar">

        <div class="collapse navbar-collapse " id="navbarsExampleDefault">
          <ul class="navbar-nav ml-auto ">
            <li ngbDropdown placement="bottom-right" class="nav-item dropdown">
              <a class="nav-link text-nowrap dropdown-toggle col-md-12 col-sm-8" [routerLink]="[]" id="navbarDropdown" role="button" ngbDropdownToggle
                aria-haspopup="true" aria-expanded="false">
                <img src="assets/avatar/avatar.png" class="img-adjustment"/>
                &nbsp;<span>Vinicius Rossado</span>
              </a>
              <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
                <a class="dropdown-item px-0" [routerLink]="[]">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-3 text-center p-0">
                        <i class="fa fa-cog"></i>
                      </div>
                      <div class="col-9 text-left p-0" (click)="editarUser(id)">
                        Editar
                      </div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item px-0" [routerLink]="[]">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-3 text-center p-0">
                          <i class="fa fa-unlock"></i>
                      </div>
                      <div class="col-9 text-left p-0" (click)="alterarSenha(id)">
                        Alterar senha
                      </div>
                    </div>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item px-0" [routerLink]="[]" (click)="logout()">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-3 text-center p-0">
                          <i class="fa fa-sign-out"></i>
                      </div>
                      <div class="col-9 text-left p-0">
                        Sair
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid content" style="height:91vh; overflow-y:auto; overflow-x:hidden;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
